[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-f23/fundMe/lib/foundry-devops"]
	path = foundry-f23/fundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
